html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  margin: auto;
  border: 1px solid black;
  border-right: 0;
  border-top: 0;
  padding: 6px;
}

p {
  text-align: center;
  font-size: 27px;
  font-weight: 500;
  margin: 0;
}

#content {
  font-size: 18px;
  font-weight: 700;
  width: 600px;
  height: 165px;
  border: 0;
}