.top {
  margin: 0 5px;
}

h3 {
  margin: 0;
}

.middle {
  width: auto;
  height: 112px;
  padding-top: 15px;
  margin: 0 6px;
}

.middle textarea {
  width: 99%;
  height: 90px;
  border-radius: 8px;
  border: 1px dashed gray;
  padding: 8px 9px;
}

.buttonBox {
  width: auto;
  height: 30px;
  text-align: right;
  padding-right: 2px;
}

.buttonBox button {
  width: 70px;
  height: 28px;
  border-radius: 15px;
  background-color: white;
  border: 1px dashed gray;
}

.tip p {
  text-align: center;
  color: gray;
  font-size: 16px;
  margin-top: -10px;
}

.bottom {
  display: none;
  width: auto;
  height: 1000px;
  margin: 0 5px;
}

.bottom p {
  font-weight: 700;
  margin-top: 0px;
}

.comment {
  width: 100%;
  height: 50px;
}

.comment img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment .name {
  float: left;
  width: 95px;
  color: gray;
  font-size: 16px;
  padding-left: 10px;
}

.name_color {
  color: rgb(66 45 10);
}

.name_weight {
  font-weight: 300;
}

.comment .content {
  float: left;
  width: 700px;
  height: 50px;
  color: black;
  font-size: 16px;
  padding-top: 4px;
}

.tip_black {
  display: none;
  position: absolute;
  top: 28%;
  left: 50%;
  width: 120px;
  height: 33px;
  background-color: rgb(41, 41, 24);
  color: white;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
}